@import '~bootstrap/scss/bootstrap';
@import '@fontsource/montserrat/index.css';
@import '@fontsource/montserrat/700.css';

@import '@/style/variables';

body {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: $bg-color-main;
}